<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Android Version Check" parallel="tests">
    <test thread-count="5" name="Checking Env Variables">
        <classes>
            <class name="org.example.AppTest"></class>
        </classes>
    </test>
</suite>
